@page {
    size: 182mm 235mm;
    size: landscape;
    margin: 27mm 16mm 27mm 16mm;
}

@page :first {
    margin: 18mm 16mm 18mm 16mm;
}

/*!* Reset chapter and figure counters on the body *!*/
body {
    counter-reset: chapternum figurenum couternum;
    font-family: "Times New Roman";
    line-height: 1.5;
    font-size: 11pt;
}

/*!* Get the title of the current chapter, which will be the content of the h1.*/
/*Reset figure counter because figures start from 1 in each chapter. *!*/
h1 {
    string-set: doctitle content();
    page-break-before: always;
    counter-reset: figurenum;
    counter-reset: footnote;
    line-height: 1.3;
}

h1:first-of-type {
    page-break-before: avoid;
}

/*!* Increment chapter counter *!*/
h1.chapter:before {
    counter-increment: chapternum;
    content: counter(chapternum) ". ";
}

/*!* Increment and display figure counter *!*/
figcaption:before {
    counter-increment: figurenum;
    content: counter(chapternum) "-" counter(figurenum) ". ";
}

.counter {
    /*counter-reset: couternum;*/
    font-weight: bold;
}

.counter:before {
    counter-increment: couternum;
    content: counter(couternum) ". ";
}


h1, h2, h3, h4, h5 {
    font-weight: bold;
    page-break-after: avoid;
    page-break-inside: avoid;
}

h1 + p, h2 + p, h3 + p {
    page-break-before: avoid;
}

table, figure {
    page-break-inside: unset;
    font-size: 14px;

}

table tr {
    /*page-break-before: avoid;*/
    page-break-inside: avoid;
    /*page-break-after: always;*/
}


.data-table {
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
}

.data-table td, .data-table th {
    border: 1px solid #000;
}
.data-table td{
    word-wrap:break-word;
    font-size: 13px !important;
}

.data-table tr:nth-child(even){background-color: #f2f2f2;}

.data-table tr:hover {background-color: #ddd;}

.data-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #91a0b6;
    color: black;
}

/*@media print {*/
/*    table tbody tr td:before,*/
/*    table tbody tr td:after {*/
/*        content : "" ;*/
/*        height : 4px ;*/
/*        display : block ;*/
/*    }*/
/*}*/

ul.toc a::after {
    content: target-counter(attr(href), page);
}

ul.toc a::after {
    content: leader('.') target-counter(attr(href), page);
}

.page-footer, .page-footer-space {
    height: 1mm;
}

.page-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
@media print {
    thead {display: table-header-group;}
    tfoot {display: table-footer-group;}
}














